@import url("https://css.gg/moon.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #211a1d;
  display: flex;
  flex-direction: column;
}

.status-success::after {
  content: " - Working";
  font-size: 12px;
  color: #211a1d;
}

.link-backer-success {
  background: rgba(94, 252, 141, 0.4392156863);
}

.status-error::after {
  content: " - Broken";
  color: #211a1d;
  font-size: 12px;
}

.link-backer-error {
  background: rgba(238, 46, 49, 0.4392156863);
}

.status-for-sale::before {
  content: "Domain for sale: ";
  color: #211a1d;
  font-size: 12px;
}

.https-not-present::before {
  content: "Not Secure" !important;
  color: #211a1d !important;
  margin-right: 5px !important;
  font-weight: bold !important;
  font-size: 12px !important;
  background: rgba(238, 46, 49, 0.4392156863) !important;
  padding: 2px !important;
}

.tag-software::after {
  content: "\f5fc  Tech/Software";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-construction::after {
  content: "\f552  Tools/Construction";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-finance::after {
  content: "\f651  Money/Finance";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-food::after {
  content: "\f6d7  Food";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-marketing::after {
  content: "\e473  Marketing";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-modeling::after {
  content: "\f587  Modeling";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-health::after {
  content: "\f21e  Health";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-music::after {
  content: "\f001  Music";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-vehicle::after {
  content: "\f1b9  Vehicles";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-game::after {
  content: "\f11b  Games";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-furniture::after {
  content: "\f4b8  Furniture";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-news::after {
  content: "\f1ea  News";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-sports::after {
  content: "\f5a2  Sports";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-cloths::after {
  content: "\f553  Clothes";
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.tag-empty::after {
  font-weight: bold !important;
  content: "\f023  Parked/Private Domain";
  background: #f4f4f4;
  border-radius: 3px;
  margin-left: 5px;
  background-color: #f4f4f4;
  color: #211a1d;
  font-size: 12px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border-bottom: none;
}

.status-unknown::after {
  content: " - Status Unknown";
  color: #211a1d;
  font-size: 12px;
}

.link-backer-unknown {
  background: rgba(33, 26, 29, 0.1882352941);
}

.link-removed {
  display: none !important;
}

.main .site-generator-btn {
  border: none;
  box-shadow: 0 0 2px rgba(33, 26, 29, 0.1882352941);
  width: 35%;
  padding: 10px;
  font-size: 16px;
  background-color: #211a1d;
  color: #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
}
.main .site-generator-btn:last-of-type {
  border-bottom: none;
}
.main .site-generator-btn:hover {
  box-shadow: 0 0 5px rgba(33, 26, 29, 0.5960784314);
  background-color: rgba(33, 26, 29, 0.5960784314);
}
.main .site-generator-btn:active {
  background-color: #211a1d;
}
.main .toggle-label {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
.main .site-list {
  margin: 0 auto;
  margin-top: 1rem;
}
.main .site-list .site-div {
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #211a1d;
  padding: 4px;
}
.main .site-list .site-div a {
  text-decoration: none;
}

.keywords {
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
}

.keywords::before {
  content: "Keywords: ";
  font-weight: normal;
}

.brand a {
  text-decoration: none;
  color: #211a1d;
}
.brand a img {
  width: 70px;
}
.brand .warning-wrap {
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(33, 26, 29, 0.1882352941);
  width: 70%;
  background: rgba(33, 26, 29, 0.1882352941);
  margin: 0.5rem auto 1rem auto;
}

.known-errors {
  background: rgba(33, 26, 29, 0.1882352941);
  box-shadow: 0 0 2px rgba(33, 26, 29, 0.1882352941);
  padding: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}/*# sourceMappingURL=style.css.map */