$brand-blue: #3891a6;
$brand-black: #211a1d;
$brand-black-semi-clear: #211a1d98;
$brand-black-clear: #211a1d30;
$brand-white: #f8f0fb;
$brand-white-clear: #f8f0fb55;
$brand-green: #5efc8d;
$brand-green-clear: #5efc8d70;
$brand-red: #ee2e31;
$brand-red-clear: #ee2e3170;

@import url('https://css.gg/moon.css');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: $brand-white;
  color: $brand-black;

  display: flex;
  flex-direction: column;
}

.status-success::after {
  content: " - Working";
  font-size: 12px;
  font-weight: bold;
  color: $brand-black;
}

.link-backer-success {
  background: $brand-green-clear;
}

.status-error::after {
  content: " - Broken";
  color: $brand-black;
  font-size: 12px;
  font-weight: bold;
}

.link-backer-error {
  background: $brand-red-clear;
}

.status-for-sale::before {
  content: "Domain for sale: ";
  color: $brand-black;
  font-weight: bold;
  font-size: 12px;
}

// start tags

@mixin tag-basics {
  padding: 2px;
  border-radius: 3px;
  margin-left: 5px;
  background-color: $brand-white;
  color: $brand-black;
  font-size: 12px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.tag-software::after {
  content: "\f5fc"  + " " + "Tech/Software";
  @include tag-basics;
}

.tag-construction::after {
  content: "\f552"  + " " + "Tools/Construction";
  @include tag-basics;
}

.tag-finance::after {
  content: "\f651"  + " " + "Money/Finance";
  @include tag-basics;
}

.tag-food::after {
  content: "\f6d7" + " " + "Food";
  @include tag-basics;
}

.tag-marketing::after {
  content: "\e473" + " " + "Marketing";
  @include tag-basics;
}

.tag-modeling::after {
  content: "\f587" + " " + "Modeling";
  @include tag-basics;
}

.tag-empty::after {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  content: "Parked/Private Domain";
  background: $brand-white;
  @include tag-basics;
}

// end tags

.status-unknown::after {
  content: " - Status Unknown";
  color: $brand-black;
  font-weight: bold;
  font-size: 12px;
}


.link-backer-unknown {
  background: $brand-black-clear;
}

.link-removed {
  display: none !important;
}

.main {
  .site-generator-btn {
    border: none;
    box-shadow: 0 0 2px $brand-black-clear;
    width: 35%;
    padding: 10px;
    font-size: 16px;
    background-color: $brand-black;
    color: $brand-white;
  }

  .site-generator-btn:hover {
    box-shadow: 0 0 5px $brand-black-semi-clear;
    background-color: $brand-black-semi-clear;
  }
  .site-generator-btn:active {
    background-color: $brand-black;
  }

  .toggle-label {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
  }

  .site-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid $brand-black;
      padding: 5px;

      a {
        text-decoration: none;
      }
    }
  }
  .site-list:last-child {
    border-bottom: none;
  }
}


.brand {
  a {
    text-decoration: none;
    color: $brand-black;
  }

  a img {
    width: 70px;
  }

  .warning-wrap {
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px $brand-black-clear;
    width: 70%;
    background: $brand-black-clear;
    margin: 0.5rem auto 1rem auto;
  }
}

.known-errors {
  background: $brand-black-clear;
  box-shadow: 0 0 2px $brand-black-clear;
  padding: 0.5rem;
  width: 100%;
  margin-top: 1rem;
}
